:root {
   --main-blue: #47D8E0;
   --white: #FFFFFF;
   --ligth-gray: #D3D6DD;
   --dark-gray: #6A6C72;
   --black: #000000;
   --red: #EF3A4E;
   --roboto: font-family: 'Roboto', sans-serif;
 }

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-size: 62.5%;
}

.container-input-sentence {
   display: grid;
   grid-template-areas: 
   "form form form"
   "arrow-left send-sentence arrow-right";
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 50vh 50vh;

   place-items: center;
}

.input-sentence-form {
   grid-area: form;
   width: 70%;
   display: flex;
}

.input-sentence-form input{
   background: #FFFFFF;
   border: 0px;
   border-radius: 2.5rem;
   box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.25);
   font-size: 4rem;
   height: 6rem;
   /* Need to add padding */
   text-align: center;

   width: 100%;
}
.input-sentence-form input:focus {
   outline: none;
}

.get-random-sentence-picture {
   display: none;
   grid-area: 1 / 2 / 1 / 2;
   height: 30rem;
}

.arrow-button {
   background-color: transparent;
   border: 0px;

}

.arrow-button img{
   width: 4.3vw;
   height: 8.6vh;
}

#button-arrow-left-big {
   grid-area: arrow-left;

}

#button-arrow-right-big {
   grid-area: arrow-right;
   
}

.blue-button {
   background-color: var(--main-blue);
   border: 0px solid;
   border-radius: 5rem;
   color: var(--white);
   height: fit-content;
   
}

.blue-button p {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 4rem;
   font-weight: 400;
   padding: 1rem 3rem;

}

#button-start-game{
   grid-area: send-sentence;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

     .input-sentence-form input {
        border-radius: 1.75rem;
        font-size: 2rem;
        height: 3rem;
     }

     .get-random-sentence-picture {
      grid-area: 1 / 2 / 1 / 2;
      height: 20rem;
   }

     .blue-button p {
        font-size: 2rem;
     }
}